<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thanks</title>
  </head>
  <style>
      h3{color: red; text-align: center;}
  </style>
  <body>
        <h3>Email đã được gửi. Cảm ơn bạn đã đóng góp</h3>
  </body>
</html>
