
body{background-color: #d9dde2;font-family: "Varela Round", Arial, Helvetica, sans-serif;line-height: 1.5em;}

#menu ul {list-style-type: none;  text-align: center; padding-top: 15px;}
#menu li {  color: #f1f1f1;display: inline-block;width: 120px;background:#1161c5;border-radius: 19px;  height: 40px;line-height: 40px;}
#menu ul li:hover{background:red; transition:all 0.3s;border-radius: 20px;}
#menu ul li a{text-decoration: none; color:white;}

#chatForm{background-color: #fafafa; border-radius: 52px;height: 545px}
#wrapper{width: 1024px; margin:auto}
#banner{border: 2px solid #FFFFFF;background-image:url("dd.jpg"); border-radius: 35px;}
h1{ text-align: center;color:#F00;}
h3{ text-align: center;color:#F00;font-size: 45px; margin-top: 274px;}
#txtUserName{background-color: transparent; border:solid 1px black; margin-left: 500px; padding-left: 58px;}
#left,#right:{min-height: 300px}
#left{width: 29%; float: left; }
#right{width: 69%; float: right;border: solid 1px black;border-radius: 15px;margin-right: 1px;}
/*#dem{margin-top: 234px;padding: 53px;}*/
#footer{border-radius: 20px; left: 0; background: burlywood; position: fixed;color: #666;font: 400 10px arial;  bottom: 0;width: 100%;text-align: center;}

#boxTitle{padding: 5px;text-align: center;font-weight: bold;border-radius: 46px;font-size: 20px;color: blue;background-color: #e1ceb5;border: 7px solid #C0C0C0;}
#boxContent{padding: 5px;text-align: center;  border-radius: 35px;background-color: white;border: 5px solid #C0C0C0;}

#sayHi{text-align: right; padding: 5px;}
#listMessager{height: 260px;background-color: rgba(253, 241, 241, 0.69);margin-bottom: 15px; word-wrap: break-word;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  overflow: hidden;
  overflow-y: scroll;
}

#thongbao{color: red}
#txtMessage{width: 70%;border: solid 1px ;border-radius: 15px; margin-left: 3px;}
#btnLogout{border: solid 2px white; font-weight: bold; border-radius: 15px;color: white; background-color: red}
#btnSendMessage{border: solid 2px white; font-weight: bold; border-radius: 15px;color: white; background-color: red}

@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */


input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 400px;
}

#login h2 {
	background-color: #f95252;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="submit"] {
	background-color: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover {
	background-color: #28ad63;
}
